## [Task 1] Item-Based

<br />

I am going to do item-based recommendations by using data of travelers.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Prepare concise dataset of travelers

travelers = np.array([[1, 2, 4, 3],
             [1, 1, 2, 4],
             [3, 5, 2, 2],
             [3, 4, 2, 3],
             [3, 3, 0, 4],
             [3, 3, 1, 4]])

# Data of a target user
target = np.array([1, 0, 0, 0])

In [3]:
# Create a dataframe

columns = ["Hawaii", "Guam", "London", "NewYork"]

df = pd.DataFrame(travelers, columns=columns)

In [4]:
# Check

df

   Hawaii  Guam  London  NewYork
0       1     2       4        3
1       1     1       2        4
2       3     5       2        2
3       3     4       2        3
4       3     3       0        4
5       3     3       1        4

### Create A Similarity Matrix among Items

In [5]:
# Define of cosine similarity

def cos_sim(v1, v2):
    return np.dot(v1, v2) / (np.linalg.norm(v1) * np.linalg.norm(v2))

In [6]:
# Create lists of each country

countries_list = []
for i, name in enumerate(columns):
    name = []
    for j in range(len(travelers)):
        name.append(travelers[j][i])
    countries_list.append(name)

coutries_array = np.array(countries_list)

In [8]:
# Check

coutries_array

array([[1, 1, 3, 3, 3, 3],
       [2, 1, 5, 4, 3, 3],
       [4, 2, 2, 2, 0, 1],
       [3, 4, 2, 3, 4, 4]])

In [12]:
# Compute cosine similarities

cos_sim_list = []
for i in range(len(coutries_array)):
    temporary_list = []
    for j in range(len(coutries_array)):
        temporary_list.append(cos_sim(coutries_array[i], coutries_array[j]))
    cos_sim_list.append(temporary_list)

cos_sim_array = np.array(cos_sim_list)

In [13]:
# Check

cos_sim_array

array([[1.        , 0.97332853, 0.63259899, 0.89190174],
       [0.97332853, 1.        , 0.71956944, 0.83666003],
       [0.63259899, 0.71956944, 1.        , 0.75462449],
       [0.89190174, 0.83666003, 0.75462449, 1.        ]])

In [14]:
# Create a dataframe

df_sim_matrix = pd.DataFrame(cos_sim_array, index=columns, columns=columns)

In [15]:
# Check

df_sim_matrix

           Hawaii      Guam    London   NewYork
Hawaii   1.000000  0.973329  0.632599  0.891902
Guam     0.973329  1.000000  0.719569  0.836660
London   0.632599  0.719569  1.000000  0.754624
NewYork  0.891902  0.836660  0.754624  1.000000

### Recommend by Inner Products of User's Vector and Similarity Matrix

In [22]:
# Compute inner products

inner_products = np.dot(cos_sim_array, target)

In [23]:
# Check

inner_products

array([1.        , 0.97332853, 0.63259899, 0.89190174])

    - I recommend Guam as next destination to the target user by the above result.

## [Task 2] User-Based